<layout name="layout" />
<script type="text/javascript">
    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0&active=1',
            valueField:'school',
            textField:'name'
        });
        //设置默认学院，非管理部门为本学院
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');
        var amount=$('#amount');
        amount.combobox({
            panelHeight:'auto'
        });
        $('#dg').datagrid({
            title:'课程列表',idField:'recno', striped:'true',pagination:'true',rownumbers:true,pageSize:20,
            url:'{$ROOT}/selective/manage/courselist',
            queryParams: {  year: $('#year').val(), term: $('#term').val()},
            singleSelect:true,
            toolbar:'#toolbar',pageList:[20,50,100,200],
            columns:[[
                {field:'courseno',title:'课号',width:80,align:'center'},
                {field:'coursename',title:'课名',width:260,align:'center'},
                {field:'schoolname',title:'开课学院',width:90,align:'center'},
                {field:'classname',title:'主修班级',width:120,align:'center'},
                {field:'estimate',title:'预计人数*',width:70,align:'center',editor:{type:'numberbox',options:{precision:0,required:true}}},
                {field:'attendents',title:'已选人数',width:60,align:'center'}
            ]],
            //标题行右键菜单
            onHeaderContextMenu: function(e, field){
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu',cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            //点击单元格时候的事件
            onClickCell:function(index, field){
                var tt= $('#dg');
                tt.datagrid('startEditing',{index:index,field:field});
                current_datagrid=tt;
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val(),
                courseno: $('#courseno').val(),
                coursename: $('#coursename').val(),
                school:$('#school').combobox('getValue'),
                amount:$('#amount').combobox('getValue')
            });
        });
        $("#save,#menu_save").click(function(){
            var tt=$('#dg');
            var length;//删除或更新的行数
            tt.datagrid('endEditing');//结束编辑,如果没有验证通过就退出
            if(tt.datagrid('editIndex')!=undefined) return;
            //获取更改的数据行内容
            var rows=tt.datagrid('getChanges','updated');
            var count=0;
            var effectRow = {};
            length=rows.length;
            if(rows.length>0){
                var updateRows=[];
                for(var i=0;i<length;i++){
                    var updateObj={}; //插入的单元格
                    updateObj.recno=rows[i].recno;
                    updateObj.lock=rows[i].lock;
                    updateObj.halflock=rows[i].halflock;
                    updateRows.push(updateObj);
                }
                count+=rows.length;
                effectRow["updated"]=$.toJSON(updateRows);
            }
            if(count<=0) { //如果没有任何更新，就退出
                $.messager.alert('提示','没有需要更新的记录','info');
                return;
            }
            $.post('{$ROOT}/selective/setting/courseupdate',effectRow,function(result){
                if (result.status==1){
                    tt.datagrid('acceptChanges');
                    tt.datagrid('reload');
                    $.messager.show({	// show error message
                        title: '成功',
                        msg: result.info
                    });
                } else {
                    $.messager.alert('错误',result.info,'error');
                }
            },'json');
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_save' data-options="iconCls:'icon icon-save'">保存修改</div>
    </div>
    <div id="toolbar">
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$NEXTYEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="2" value="{$NEXTYEARTERM.term}"/>
        <label for="courseno">课号：</label><input id="courseno" class="easyui-validatebox" size="9" value="%"/>
        <label for="coursename">课名：</label><input id="coursename" class="easyui-validatebox" size="9" value="%"/>
        <label for="school">开课学院：</label>
        <input id="school" size="15">
        <label for="amount">选课人数：</label>
        <select id="amount">
            <option value="" selected="selected">全部</option>
            <option value="A">小于20人</option>
            <option value="B">大于预计人数</option>
            <option value="C">小于预计人数</option>
        </select>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-student',plain:'true'" id="student">查看选课学生</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>开课学院可以修改本学院课程的预计人数。</li>
        </ol>
    </div>
</div>