<layout name="layout" />
<script type="text/javascript">
    $(function(){
        $('#dg').datagrid({
            title:'我的教学工作当量',idField:'recno', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20,
            url:'{$ROOT}/teacher/work/query',toolbar:'#toolbar',
            columns:[[
                {field:'year',title:'学年',width:80,align:'center'},
                {field:'term',title:'学期',width:50,align:'center'},
                {field:'courseno',title:'课号',width:100,align:'center'},
                {field:'coursename',title:'课名',width:200,align:'center'},
                {field:'work',title:'工作量',width:60,align:'center'},
                {field:'attendent',title:'人数',width:60,align:'center'},
                {field:'classname',title:'班级',width:160,align:'center'}
            ]]
        });
    });
</script>
<div class="container">
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li></li>
        </ol>
    </div>
</div>