<layout name="layout" />
<script type="text/javascript">
$(function(){
    $("#nextpage").click(function(){
        var page=getQueryString('page');
        if(page==null)
            page=2;
        location.href=("{$ROOT}/Teacher/Index/student?year="+getQueryString('year')+"&term="+getQueryString('term')+"&courseno="+getQueryString('courseno')+"&page="+page);
    });
    $("#print").click(function(){
        window.print();
    });
});

</script>
<style type="text/css">
    body{font-size: 10pt;}
    .title{text-align: center;font-size: 15pt;font-family:"Microsoft YaHei";line-height:28px}
    .course{text-align: center;}
    #score{width:100%;margin: 0 auto}
    td{ border: solid #000 1px;text-align: center;height:18px;line-height:18px;width:4%;}
    table{border-collapse:collapse;border: none;}
    .tip {line-height: 16px;;margin-left:16px;}
    td.studentno{width:10%;}
    td.name{width:10%;}
    td.classname{width:12%}
</style>
<div class="container">
    <div class="title">{$year}学年第{$term}学期课堂考勤表</div>
    <div class="course">课号：{$course.courseno} 课名：{$course.coursename} 开课学院：{$course.schoolname} 人数：{$course.attendents} <a id="nextpage" href="#">下一页>></a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-print',plain:'true'" id="print"></a></div>
    <div class="course">任课教师：{$course.teachername} 班级：{$course.classname} </div>
    <table id="score">
        <tr><td class="studentno">学号</td><td class="name">姓名</td><td class="classname">班级</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
            <td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td><td>17</td>
        </tr>
        {$student}
    </table>
    <div class="tip">
        说明：○为请假，×为旷课，
    </div>
</div>