@charset "utf-8";
/* CSS Document */

*{ padding:0px; margin:0px; }
html{ background:#fff;}
body{ background:url("../img/bg.jpg") repeat-x; font-size:12px; color:#6f6f6f; }
a{ text-decoration:none;}
img{ border:none;}
ul li{ list-style-type:none;}
a.red{ font-size:14px;  font-weight:bold; color:#ff0000; text-decoration:underline;}
a.blue{font-size:12px; color:#1c56b1;}
.head{ background:url("../img/top.jpg") no-repeat; width:1002px; height:115px; margin:0 auto;}
.banner{ height:550px;width:1002px; margin-left:0 ; margin:0 auto;}
.support td{text-align: center;width:16%}
.support img{height: 40px;width:40px}
.blue{ font-size:12px; color:#1c56b1;}
.style-input{ height:20px; border:1px solid #cccccc; width:150px; font-size:12px; line-height:20px;}
.footer{ color:#78869b; width:1002px; height:60px; margin:0 auto; text-align:center; line-height:60px;}
.teach{ height:auto;width:1002px; margin-left:0 ; margin:0 auto;}

.style-input2{ height:16px; border:1px solid #a9bbcd; width:40px; font-size:12px; line-height:20px;}
.nav{ background:#edf5fc; border:1px solid #edf5fc;}
.black{ font-size:14px;  color:#424242; font-weight:bold; padding-left:20px;}

.head-single{display:block; width:470px; border: 1px solid #000000; height:21px; line-height:21px; overflow:hidden; font-family:"宋体"}
.style_blue14{font-family:"宋体";font-size:14px; font-weight:bold; color:#3e65af}
