<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        $('#dg').datagrid({
            title:'',idField:'role', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20,
            url:'{$ROOT}/student/vacation/testplan',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val()
            },
            columns:[[
                {field:'courseno',title:'课号',width:80,align:'center'},
                {field:'coursename',title:'课名',width:200,align:'center'},
                {field:'testtime',title:'考试时间',width:200,align:'center'},
                {field:'roomno1',title:'考场1',width:100,align:'center'},
                {field:'roomno2',title:'考场2',width:100,align:'center'},
                {field:'roomno3',title:'考场3',width:100,align:'center'}
            ]]
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val()
            });
        });
    });
    function addTab(url,title,icon,check){
        var year=$('#year').val();
        var term=$('#term').val();
        parent.menuTabs.addTab(title,'{$ROOT}'+url+'year='+year+"&term="+term,icon);
    }
    function getCourseNo(){
        var row=$('#dg').datagrid('getSelected');
        if(!row){
            $.messager.alert('错误','请选择一条课程记录', 'info');
            return false;
        }
        return row.courseno;
    }
</script>
<div class="container">
    <div id="toolbar">
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="1" value="{$YEARTERM.term}"/>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a>
    </div>
    <table id="dg"></table>
</div>