<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0',
            valueField:'school',
            textField:'name'
        });
        var weekday=$('#weekday');
        weekday.combobox({
            url:'{$ROOT}/all/option/weekday?only=0',
            valueField:'day',
            textField:'name',
            panelHeight:'auto'
        });
        var time=$('#time');
        time.combobox({
            url:'{$ROOT}/all/option/timesection?only=0',
            valueField:'time',
            textField:'name'
        });
        $('#dg').datagrid({
            title:'',idField:'coursenogroup', striped:'true',pagination:'true',rownumbers:true,pageSize:20,
            url:'{$ROOT}/student/course/selected',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val(),
                courseno:$('#courseno').val()
            },
            frozenColumns:[   [
                {field: 'checkbox', title: '选中', checkbox: true},
                {field:'coursenogroup',title:'课号',width:65,align:'center'},
                {field:'coursename',title:'课名',width:170,align:'center'},
                {field:'credits',title:'学分',width:30,align:'center'},
                {field:'weekhours',title:'周学时',width:40,align:'center'},
                {field:'repeat',title:'重修',width:40,align:'center',formatter:function(val,rec){
                    if(val==1)
                        return '是';
                    else
                        return '否';
                }}

            ]],
            columns:[[
                {field:'rem',title:'备注',width:110,align:'left'},
                {field:'coursetype',title:'类型',width:40,align:'center'},
                {field:'examtype',title:'考核',width:40,align:'center'},
                {field:'schoolname',title:'开课学院',width:80,align:'center'},
                {field:'teachername',title:'任课教师',width:100,align:'center'},
                {field:'dayntime',title:'课程安排',width:470,align:'left',halign:'center'},
                {field:'classname',title:'主修班级',width:200,align:'left',halign:'center'}
            ]],
            //标题行右键菜单
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu', cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val()
            });
        });
        function buildDataArray(rows){
            var updateRow=[];
            var length=rows.length;
            for (var i = 0; i < length; i++) {
                var updateObj = {}; //插入的单元格
                updateObj.courseno=rows[i].coursenogroup;
                updateRow.push(updateObj);
            }
            return updateRow;
        }
        $("#exit").click(function () {
            var tt = $('#dg');
            //获取更改的数据行内容

            var effectRow = {};
            var rows = tt.datagrid('getSelections');
            var length = rows.length;
            if (rows.length > 0) {
                effectRow["deleted"] = $.toJSON(buildDataArray(rows));
                effectRow['year']=$('#year').val();
                effectRow['term']=$('#term').val();
                $.post('{$ROOT}/student/course/update', effectRow, function (result) {
                    if (result.status == 1) {
                        tt.datagrid('clearSelections');
                        tt.datagrid('clearChecked');
                        tt.datagrid('reload');
                        $.messager.alert('成功', result.info, 'info');
                    } else {
                        $.messager.alert('错误', result.info, 'error');
                    }
                }, 'json');
            }
            else
                $.messager.alert('提示','请先选择课程！', 'info');
        });
    });
</script>
<div class="container">
    <div id="toolbar">
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="1" value="{$YEARTERM.term}"/>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-remove',plain:'true'" id="exit">退课</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information" style="clear:both">
        <ol>说明：
            <li>在要选的课程前打钩，并点击"提交选课"。</li>
            <li>如何隐藏部分列？可以在列名上右键，将要隐藏的列名前的绿色勾去掉。</li>
            <li>单元格太小如何拉大点？将鼠标移到两列之间，变成左右小箭头后按住鼠标左键拖动.</li>
        </ol>
    </div>
</div>