<layout name="all@index/layout" />
<script type="text/javascript">
$(function () {
    var school = $('#school');
    school.combobox({
        url: '{$ROOT}/all/option/school?only=0',
        valueField: 'school',
        textField: 'name'
    });
    //设置默认学院，非管理部门为本学院
    if ('{$USERINFO.manage}' != '1')
        school.combobox('select', '{$USERINFO.school}');
    $('#dg').datagrid({
        title: '',
        idField: 'rowid',
        striped: 'true',
        pagination: 'true',
        rownumbers: true,
        singleSelect: true,
        pageSize: 20,
        url: '{$ROOT}/major/plan/majorplanlist',
        toolbar: '#toolbar',
        queryParams: {school: school.combobox('getValue')},
        pageList: [20, 50, 100, 200],
        columns: [[
            {field: 'majorschool', title: '专业号', width: 50, align: 'center'},
            {field: 'majorno', title: '专业代码', width: 60, align: 'center'},
            {field: 'majorname', title: '专业名', width: 140, align: 'center'},
            {field: 'direction', title: '方向代码', width: 60, align: 'center'},
            {field: 'directionname', title: '专业方向', width: 140, align: 'center'},
            {field: 'years', title: '学制', width: 40, align: 'center'},
            {field: 'schoolname', title: '学院', width: 90, align: 'center'},
            {field: 'year', title: '年级*', width: 40, align: 'center', editor: {type: 'validatebox', options: {validType: 'equalLength[4]', required: true}}},
            {field: 'module', title: '模块方向*', width: 150, align: 'center', editor: {type: 'validatebox', options: {validType: 'maxLength[25]'}}},
            {field: 'credits', title: '总学分*', width: 60, align: 'center',editor:{type:'numberbox',options:{precision:2,required:true}}},
            {field: 'mcredits', title: '必修学分*', width: 60, align: 'center',editor:{type:'numberbox',options:{precision:2,required:true}}},
            {field: 'rem', title: '备注*', width: 100, align: 'center', editor: {type: 'validatebox', options: {validType: 'maxLength[25]'}}}
        ]],
        //标题行右键菜单
        onHeaderContextMenu: function (e, field) {
            e.preventDefault();
            if (!cmenu_obj.cmenu)//没有的话创建一个
                $('#dg').datagrid('createColumnMenu', cmenu_obj);
            cmenu_obj.cmenu.menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        },
        //点击单元格时候的事件
        onClickCell: function (index, field) {
            var tt = $('#dg');
            tt.datagrid('startEditing', {field: field, index: index});
            current_datagrid = tt;
        },
        //数据行上右键菜单
        onRowContextMenu: function (e, rowindex, row) {
            var tt = $('#dg');
            tt.datagrid('endEditing');
            if (tt.datagrid('editIndex') != undefined) return;
            e.preventDefault();  //该方法将通知 Web 浏览器不要执行与事件关联的默认动作（如果存在这样的动作）
            tt.datagrid('selectRow', rowindex);
            $('#menu').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    });
    function checkTeacherSchool(rows) {
        var count = rows.length;
        for (var i = 0; i < count; i++) { //教师所在学院不是本学院的，且登录账户不在职能部门不允许修改。
            if (rows[i].school != '{$USERINFO.school}' && '{$USERINFO.manage}' != '1') {
                $.messager.alert('错误', '你无法修改其他学院的培养方案（专业号：' + rows[i].majorschool + '）！', 'error');
                $("#cancel").click();
                return false;
            }
        }
        return true;
    }
    $("#menu_edit,#edit").click(function(){
        var row= getSelectedRow();
        if(row!=null)
            parent.menuTabs.addTab(row.majorschool+"-编辑详情","{$ROOT}/major/index/majorplandetail?majorschool="+row.majorschool+"&rowid="+row.rowid,"icon-edit");

    });
    // 绑定新建按钮事件
    $("#insert,#menu_insert").click(function () {
        parent.menuTabs.addTab("新增培养计划","{$ROOT}/major/index/majorlist","icon icon-add");
    });
    //取消更改
    $("#cancel,#menu_cancel").click(function () {
        var tt = $('#dg');
        tt.datagrid('rejectChanges');
        current_datagrid = null;
    });
    //绑定点击保存按钮事件
    $("#save,#menu_save").click(function () {
        var tt = $('#dg');
        tt.datagrid('endEditing');
        if (tt.datagrid('editIndex') != undefined) return;
        //获取更改的数据行内容
        var rows = tt.datagrid('getRows');
        rows = tt.datagrid('getChanges', 'updated');
        if (!checkTeacherSchool(rows)) return;
        var count = 0;
        var effectRow = {};
        if (rows.length > 0) {
            count += rows.length;
            effectRow["updated"] = $.toJSON(rows);
        }
        //获取删除的行
        rows = tt.datagrid('getChanges', 'deleted');
        if (!checkTeacherSchool(rows)) return;
        if (rows.length > 0) {
            count += rows.length;
            effectRow["deleted"] = $.toJSON(rows);
        }
        //获取添加的行
        rows = tt.datagrid('getChanges', 'inserted');
        if (!checkTeacherSchool(rows)) return;
        if (rows.length > 0) {
            count += rows.length;
            effectRow["inserted"] = $.toJSON(rows);
        }
        if (count <= 0) { //如果没有任何更新，就退出
            $.messager.alert('提示', '没有数据需要保存！', 'info');
            return;
        }
        $.post('{$ROOT}/major/plan/majorplanupdate', effectRow, function (result) {
            if (result.status == 1) {
                tt.datagrid('acceptChanges');
                tt.datagrid('reload');
                $.messager.show({	// show error message
                    title: '成功',
                    msg: result.info
                });
            } else {
                $.messager.alert('错误', result.info, 'error');
            }
        }, 'json');
    });
    //右键菜单删除按钮
    $("#menu_delete,#delete").click(function () {
        var tt = $('#dg');
        var row =  getSelectedRow();
        if (row!=null) {
            tt.datagrid('endEditing');
            var rowIndex = tt.datagrid('getRowIndex', row);
            tt.datagrid('deleteRow', rowIndex);
        }
    });
    //检索
    $("#search").click(function () {
        var tt = $('#dg');
        tt.datagrid('loadData', {total: 0, rows: []});
        tt.datagrid('load', {
            year: $('#year').val(),
            school: $('#school').combobox('getValue')
        });
    });
    //编辑绑定的教学计划
    $("#program,#menu_program").click(function () {
        var row =  getSelectedRow();
        if (row!=null) {
            parent.menuTabs.addTab("设置"+row.directionname+"-"+row.module+"模块方向的教学计划","{$ROOT}/major/index/majorplanprogram?majorplanid="+row.rowid,"icon icon-major");
        }
    });
    $("#class,#menu_class").click(function () {
        var row =  getSelectedRow();
        if (row!=null) {
            parent.menuTabs.addTab(row.directionname+"-"+row.module+"绑定班级","{$ROOT}/major/index/majorplanclass?majorplanid="+row.rowid,"icon icon-class");
        }
    });
    $("#student,#menu_student").click(function () {
        var row =  getSelectedRow();
        if (row!=null) {
            parent.menuTabs.addTab(row.directionname+"-"+row.module+"绑定学生","{$ROOT}/major/index/majorplanstudent?majorplanid="+row.rowid,"icon icon-person");
        }
    });
    //导出
    $('#export,#menu_export').click(function () {
        var year = encodeURI($('#year').val());
        var school = encodeURI($('#school').combobox('getValue'));
        $.fileDownload("{$ROOT}/major/plan/majorplanexport?year=" +year+ '&school=' + school, {
            preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
            dialogOptions: {modal: true, title: '提示'},
            failCallback: function (html, url) {
                $.messager.alert('错误', html, 'error');
            }
        });
    });
});
    function getSelectedRow(){
        var row =  $('#dg').datagrid('getSelected');
        if (row) {
           return row;
        }
        else {
            $.messager.alert('提示', '请先选中一条培养方案', 'info')
            return null;
        }
    }
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:100px;">
        <div id='menu_insert' data-options="iconCls:'icon icon-add'">新增</div>
        <div id='menu_edit' data-options="iconCls:'icon icon-pencil'">编辑</div>
        <div id='menu_save' data-options="iconCls:'icon icon-save'">保存</div>
        <div class="menu-sep"></div>
        <div id='menu_program' data-options="iconCls:'icon icon-major'">设置教学计划</div>
        <div id='menu_class' data-options="iconCls:'icon icon-class'">绑定班级</div>
        <div id='menu_student' data-options="iconCls:'icon icon-person'">绑定学生</div>
        <div id='menu_export' data-options="iconCls:'icon icon-excel'">导出</div>
        <div class="menu-sep"></div>
        <div id='menu_delete' data-options="iconCls:'icon icon-remove'">删除</div>
        <div id='menu_cancel' data-options="iconCls:'icon icon-cancel'">取消</div>
    </div>
    <div id="toolbar">
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-add',plain:'true'" id="insert">新增</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-pencil',plain:'true'" id="edit">编辑</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-remove',plain:'true'" id="delete">删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-save',plain:'true'" id="save">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-cancel',plain:'true'" id="cancel">取消</a> |
            <label for="year">年级：</label><input id="year" class="easyui-validatebox" size="4" value=""/>
            <label for="school">学院：</label>
            <input id="school">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-major',plain:'true'" id="program">设置教学计划</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-class',plain:'true'" id="class">绑定班级</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-person',plain:'true'" id="student">绑定学生</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-excel',plain:'true'" id="export">导出</a>
        </div>
    </div>
    <table id="dg">
    </table>
    <div class="information" style="clear:both">
        <ol>说明：
            <li>有*标注的为可编辑单元，双击后可以修改内容,Tab键切换到下一个单元格，Enter键切换到下一行</li>
        </ol>
    </div>
</div>