<layout name="all@index/layout" />
<script type="text/javascript">
    $(function () {
        var school = $('#school');
        school.combobox({
            url: '{$ROOT}/all/option/school?only=0&active=1',
            valueField: 'school',
            textField: 'name'
        });
        //设置默认学院，非管理部门为本学院
        if ('{$USERINFO.manage}' != '1')
            school.combobox('select', '{$USERINFO.school}');
        $('#dg').datagrid({
            title: '已绑定班级列表',
            idField: 'classno',
            striped: 'true',
            pagination: 'true',
            rownumbers: 'true',
            pageSize:50,
            url: '{$ROOT}/major/plan/majorplanclass',
            queryParams: {majorplanid:getQueryString('majorplanid')},
            toolbar: '#toolbar',
            pageList: [50, 100, 200],
            columns: [[
                {field: 'checkbox', title: '选中', checkbox: true},
                {field: 'classno', title: '班号', width: 70, align: 'center'},
                {field: 'classname', title: '班名', width: 110, align: 'center'},
                {field: 'schoolname', title: '学院', width: 100, align: 'center'}
            ]],
            //标题行右键菜单
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu', cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            //数据行上右键菜单
            onRowContextMenu: function (e, rowindex, row) {
                e.preventDefault();
                var tt = $('#dg');
                tt.datagrid('selectRow', rowindex);
                $('#menu').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });

        $('#dg2').datagrid({
            title: '检索新班级',
            idField: 'classno',
            striped: 'true',
            pagination: 'true',
            rownumbers: true,
            pageSize: 20,
            url: '{$ROOT}/major/plan/searchclass',
            queryParams: {classno: ''},
            toolbar: '#toolbar2',
            pageList: [20,50, 100, 200],
            columns: [[
                {field: 'checkbox', title: '选中', checkbox: true},
                {field: 'classno', title: '班号', width: 70, align: 'center'},
                {field: 'classname', title: '班名', width: 110, align: 'center'},
                {field: 'schoolname', title: '学院', width: 100, align: 'center'},
                {field: 'year', title: '入校时间', width: 70, align: 'center'},
                {field: 'students', title: '预计人数', width: 70, align: 'center'},
                {field: 'amount', title: '实际人数', width: 70, align: 'center'}
            ]],
            //标题行右键菜单
            onHeaderContextMenu: function (e, field) {
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg2').datagrid('createColumnMenu', cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            //数据行上右键菜单
            onRowContextMenu: function (e, rowindex, row) {
                e.preventDefault();
                var tt = $('#dg2');
                tt.datagrid('selectRow', rowindex);
                $('#menu2').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function () {
            var tt = $('#dg2');
            tt.datagrid('loadData', {total: 0, rows: []});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                classno: $('#classno').val(),
                classname: $('#classname').val(),
                school:$('#school').combobox('getValue')
            });
        });
        function checkClassSchool(rows) {
            var count = rows.length;
            for (var i = 0; i < count; i++) { //教师所在学院不是本学院的，且登录账户不在职能部门不允许修改。
                if (rows[i].school != '{$USERINFO.school}' && '{$USERINFO.manage}' != '1') {
                    $.messager.alert('错误', '你无法修改其他学院班级的培养方案（' + rows[i].classname + '）！', 'error');
                    $("#cancel").click();
                    return false;
                }
            }
            return true;
        }
        $("#add,#menu_add").click(function () {
            var tt = $('#dg');
            var tt2=$('#dg2');
            var rows=tt2.datagrid('getSelections');
            var length=rows.length;

            for(var i=0;i<length;i++){
                var classrows=tt.datagrid('getRows');
                var amount=classrows.length;
                var find=false;
                for(var j=0;j<amount;j++){
                    if(rows[i].classno==classrows[j].classno){
                        $.messager.alert('错误', rows[i].classno+rows[i].classname+'已在班级列表中！' , 'error');
                        find=true;
                        break;
                    }
                }
                if(find)
                    continue;
                tt.datagrid('insertRow', {
                    index: 0,
                    row: {
                        classno:rows[i].classno,
                        classname:rows[i].classname,
                        schoolname:rows[i].schoolname,
                        school:rows[i].school
                    }
                });
            }
        });
        $("#remove,#menu_remove").click(function () {
            var tt = $('#dg');
            var rows=tt.datagrid('getSelections');
            var length=rows.length;
            for(var i=length-1;i>=0;i--){
                    var index=tt.datagrid('getRowIndex',rows[i].classno);
                    tt.datagrid('deleteRow',index);
                }
        });
        $("#cancel,#menu_cancel").click(function () {
            var tt = $('#dg');
            tt.datagrid('rejectChanges');
            current_datagrid = null;
        });

        //绑定点击保存按钮事件
        $("#save,#menu_save").click(function () {
            var tt = $('#dg');
            var effectRow = {};
            var updateRows=[];
            var deleteRows=[];
            var count = 0;
            effectRow["majorplanid"] = getQueryString('majorplanid');
            var rows = tt.datagrid('getChanges', 'inserted');
            var length=rows.length;
            if(length>0) {
                count+=length;
                if (!checkClassSchool(rows)) return;
                for (var i = 0; i < length; i++) {
                    var updateObj = {}; //插入的单元格
                    updateObj.classno = rows[i].classno;
                    updateObj.classname = rows[i].classname;
                    updateRows.push(updateObj);
                }
                effectRow["inserted"] = $.toJSON(updateRows);
            }
            rows = tt.datagrid('getChanges', 'deleted');
            length=rows.length;
            if(length>0) {
                count += length;
                if (!checkClassSchool(rows)) return;
                for (var j = 0; j < length; j++) {
                    var deleteObj = {}; //插入的单元格
                    deleteObj.classno = rows[j].classno;
                    deleteObj.classname = rows[j].classname;
                    deleteRows.push(deleteObj);
                }
                effectRow["deleted"] = $.toJSON(deleteRows);
            }
            if (count <= 0) { //如果没有任何更新，就退出
                $.messager.alert('提示', '没有数据需要保存！', 'info');
                return;
            }
            $.messager.confirm('确认','一个班级只能有一个培养方案，此操作将删除这些班级原有培养方案。确定保存么？',function(r) {
                if (r) {
                    $.post('{$ROOT}/major/plan/majorplanclassupdate', effectRow, function (result) {
                        if (result.status == 1) {
                            tt.datagrid('acceptChanges');
                            tt.datagrid('reload');
                            $.messager.show({	// show error message
                                title: '成功',
                                msg: result.info
                            });
                        } else {
                            $.messager.alert('错误', result.info, 'error');
                        }
                    }, 'json');
                }
            });
        });
        //绑定到班级学生
        $("#bind,#menu_bind").click(function () {
            var tt=$('#dg');
            var rows=tt.datagrid('getSelections');
            var length=rows.length;
            var effectRow = {};
            var updateRows=[];

            if (length <= 0) { //如果没有任何更新，就退出
                $.messager.alert('提示', '请选择至少一个班级！', 'info');
                return;
            }
            for (var i = 0; i < length; i++) {
                var updateObj = {}; //插入的单元格
                updateObj.classno = rows[i].classno;
                updateRows.push(updateObj);
            }
            effectRow["updated"] = $.toJSON(updateRows);
            $.messager.confirm('确认','本操作将删除班级所有学生原有主修培养方案，并绑定本方案，确定绑定么？',function(r) {
                if (r) {
                    $.post('{$ROOT}/major/plan/majorplanclassbind', effectRow, function (result) {
                        if (result.status == 1) {
                            tt.datagrid('acceptChanges');
                            tt.datagrid('reload');
                            $.messager.show({	// show error message
                                title: '成功',
                                msg: result.info
                            });
                        } else {
                            $.messager.alert('错误', result.info, 'error');
                        }
                    }, 'json');
                }
            });

        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_save' data-options="iconCls:'icon icon-save'">保存</div>
        <div id='menu_remove' data-options="iconCls:'icon icon-remove'">删除</div>
        <div id='menu_cancel' data-options="iconCls:'icon icon-cancel'">取消</div>
        <div id='menu_bind' data-options="iconCls:'icon icon-person'">绑定到班级学生</div>
    </div>
    <div id="menu2" class="easyui-menu" style="width:150px;">
        <div data-options="iconCls:'icon icon-back'" id="menu_add">将选中班级绑定计划</div>
    </div>
    <div id="left" style="width:570px;float:left">
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-save',plain:'true'" id="save">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-remove',plain:'true'" id="remove">删除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-cancel',plain:'true'" id="cancel">取消</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-person',plain:'true'" id="bind">将培养方案绑定到选中班级学生</a>
        </div>
        <table id="dg"></table>
    </div>
    <div id="right" style="width:680px;float:left;padding-left:5px;">
        <div id="toolbar2">
            <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-back',plain:'true'" id="add">将选中加入绑定列表</a>
            <label for="classno">班号：</label><input id="classno" class="easyui-validatebox" size="6" value="%"/>
            <label for="classname">班名：</label><input id="classname" class="easyui-validatebox" size="9" value="%"/>
            <label for="school">学院：</label>
            <input id="school" size="13">
            <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a>
        </div>
        <table id="dg2"></table>
    </div>
    <div class="space"></div>
    <div class="information" style="clear:both">
        <ol>说明：
            <li>添加到列表后请保存数据</li>
            <li class="warn">每个班级只能绑定一个培养方案，新绑定的培养方案会删除原有方案。</li>
        </ol>
    </div>
</div>