<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        var status=$('#status');
        status.combobox({
            url:'{$ROOT}/all/option/zo?only=0',
            valueField:'zo',
            textField:'name',
            panelHeight:'auto'
        });
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0&active=1',
            valueField:'school',
            textField:'name'
        });
        //设置默认学院，非管理部门为本学院
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');
        var pass="<span class='green'  style='font-size:150%'>√</span>";
        var fail="<span class='warn' style='font-size:150%'>×</span>";
        $('#dg').datagrid({
            title:'',idField:'studentno', striped:'true',pagination:'true',rownumbers:true,pageSize:20,
            url:'{$ROOT}/major/graduate/query',
            queryParams: {studentno:''},
            singleSelect:true,
            toolbar:'#toolbar',pageList:[20,50,100,200],
            columns:[[
                {field:'studentno',title:'学号',width:65,align:'center',rowspan:2},
                {field:'name',title:'姓名',width:50,align:'center',rowspan:2},
                {field:'classname',title:'班级',width:100,align:'center',rowspan:2},
                {title:'培养计划',colspan:7},
                {title:'全选全通过',colspan:3},
                {title:'全选部分过',colspan:3},
                {title:'部分选部分过',colspan:3},
                {title:'公选素质',colspan:3},
                {field:'date',title:'审核时间',width:115,align:'center',rowspan:2}
            ],
                [
                    {field:'directionname',title:'专业方向',width:90,align:'center'},
                    {field:'module',title:'模块方向',width:80,align:'center'},
                    {field:'credits',title:'需学分',width:50,align:'center'},
                    {field:'gcredits',title:'课程',width:40,align:'center'},
                    {field:'addcredits',title:'创新',width:40,align:'center'},
                    {field:'totalcredits',title:'总计',width:40,align:'center'
                        ,formatter:function(val,rec){
                        return parseFloat(rec.gcredits)+parseFloat(rec.addcredits)}},
                    {field:'totalresult',title:'总结论',width:50,align:'center'
                        ,formatter:function(val,rec){
                        return rec.totalresult=="0"?fail:pass;}
                    },
                    {field:'allplan',title:'计划数',width:0,align:'center'},
                    {field:'allpass',title:'通过数',width:50,align:'center'},
                    {field:'allresult',title:'结论',width:35,align:'center'
                         ,formatter:function(val,rec){
                         return rec.allresult=="0"?fail:pass;}
                    },
                    {field:'allpartplan',title:'计划数',width:50,align:'center'},
                    {field:'allpartpass',title:'通过数',width:50,align:'center'},
                    {field:'allpartresult',title:'结论',width:35,align:'center'
                            ,formatter:function(val,rec){
                            return rec.allpartresult=="0"?fail:pass;}
                    },
                    {field:'partplan',title:'计划数',width:50,align:'center'},
                    {field:'partpass',title:'通过数',width:50,align:'center'},
                    {field:'partresult',title:'结论',width:35,align:'center',
                        formatter:function(val,rec){
                        return rec.partresult=="0"?fail:pass;}
                    },
                    {field:'publicplan',title:'计划数',width:50,align:'center'},
                    {field:'publicpass',title:'通过数',width:50,align:'center'},
                    {field:'publicresult',title:'结论',width:35,align:'center',
                        formatter:function(val,rec){
                        return rec.publicresult=="0"?fail:pass;}
                    }
                ]],
            //标题行右键菜单
            onHeaderContextMenu: function(e, field){
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu',cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                studentno: $('#studentno').val(),
                classno: $('#classno').val(),
                name: $('#name').val(),
                school:$('#school').combobox('getValue'),
                status:$('#status').combobox('getValue')
            });
        });
        $("#menu_detail,#detail").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            var studentno=encodeURI(row.studentno);
            var majorplanid=encodeURI(row.majorplanid);
            if (row) {
                var url='/major/index/graduatedetail?studentno='+studentno+'&majorplanid='+majorplanid;
                window.open('{$ROOT}'+url);
            }
            else{
                $.messager.alert('提示','请先选中一条记录','info')
            }
        });
        $("#menu_classdetail,#classdetail").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            var classno=encodeURI(row.classno);
            if (row) {
                var url='/major/index/graduateclassdetail?classno='+classno;
                window.open('{$ROOT}'+url);
            }
            else{
                $.messager.alert('提示','请先选中一条记录','info')
            }
        });
        /**
         * 导出
         */
        $('#menu_export,#export').click(function(){
            var   url="{$ROOT}/major/graduate/export";
            var studentno=encodeURI($('#studentno').val());
            var classno=encodeURI($('#classno').val());
            var name=encodeURI($('#name').val());
            var school=encodeURI($('#school').combobox('getValue'));
            var status=encodeURI($('#status').combobox('getValue'));
            $.fileDownload(url+"?studentno="+studentno+"&classno="+classno+"&name=" +name+
            "&status="+status+'&school='+school, {
                preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                dialogOptions: {modal: true, title: '提示'},
                failCallback: function (html, url) {
                    $.messager.alert('错误',html,'error');
                }
            });
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div data-options="iconCls:'icon icon-excel'" id="menu_detail" >查看审核报告</div>
        <div data-options="iconCls:'icon icon-excel'" id="menu_classdetail" >查看整班审核报告</div>
    </div>
    <div id="toolbar">
        <label for="studentno">学号：</label><input id="studentno" class="easyui-validatebox" size="9" value="%"/>
        <label for="name">姓名：</label><input id="name" class="easyui-validatebox" size="4" value="%"/>
        <label for="classno">班号：</label><input id="classno" class="easyui-validatebox" size="6" value="%"/>
        <label for="school">学院：</label>
        <input id="school" size="15">
        <label for="status">总结论是否通过：</label>
        <input id="status" size="8">
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-excel',plain:'true'" id="detail">查看审核报告</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-excel',plain:'true'" id="classdetail">查看整班审核报告</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>导出数据分为基础数据与详细数据两种，基础数据为表格中列举的内容，详细数据包含身份证、联系电话、家庭住址等重要信息，仅学籍相关管理人员能够导出。</li>
        </ol>
    </div>
</div>