<layout name="all@index/layout" />
<script type="text/javascript">
$(function(){

});

</script>
<style type="text/css">
    body{font-size:10pt}
    .title{text-align: center;font-size: 25px;font-family:"Microsoft YaHei";line-height:50px;height: 50px;}
    .subtitle{text-align:left;padding-left:50px;font-size: 18px;font-family:"Microsoft YaHei";line-height:40px;height:40px;}
    .student{text-align: center;line-height:20px;height: 20px;font-size:15px;}
    .program{text-align:left;padding-left:50px;font-size: 16px;font-family:"Microsoft YaHei";line-height:40px;height:40px;}
    .coursetitle{text-align:left;padding-left:50px;font-size: 14px;font-family:"Microsoft YaHei";line-height:40px;height:40px;font-weight: bold}
    .course{text-align:left;padding-left:50px;font-size: 12px;font-family:"Microsoft YaHei";line-height:40px;height:40px;}
</style>
<div class="container">
    <div class="title">毕业审核报告</div>
    <div class="student">学号：{$base.studentno} 姓名：{$base.name} 学院：{$base.schoolname} 班级：{$base.classname} 专业方向：{$base.directionname} 模块方向：{$base.module}</div>
    <div class="subtitle">培养方案应获得学分：{$base.credits} ,已获得课程学分：{$base.gcredits} ,创新技能素质学分（已包含在公共选修课学分中）：{$base.addcredits},获得总学分：{$base.totalcredits},总体结论：{$base.totalresult}</div>
    <div class="detail">
        {$detail}
    </div>

</div>