<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){


    });
</script>
<style type="text/css">
   .column{
       border:1px solid #000000;
       margin:0 auto;
       width:90%;
   }
    .title{text-align: center;font-size: 16pt;font-weight: bold;height: 70px;line-height: 70px;text-indent: 0}
    p{text-indent: 2em; font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14pt;line-height:40px;}
    .space{height: 30px}
</style>
<div class="container">
    <div class="print_title">{$reserve.year}学年第{$reserve.term}学期教室借用批复单</div>
    <div class="column">
        <div class="title">教师使用须知</div>
        <div class="content"><p>教师使用多媒体教室前需参加过操作培训。教师借用后请提前与装备部联系（南区7号实训楼106办公室,短号654335,蒋老师），了解所借多媒体教室的管理规定及操作方法，
            以免使用不当造成设施损坏、影响教学。请提前将此单送至相应教学楼值班室。</p>
            <p>请使用教室的教师签字确认已了解并办妥上述事项。</p>
            <p align="right">教师签字:__________ 联系电话:____________</p>
        </div>
    </div>
    <div class="space"></div>
    <div class="column">
        <div class="content">
            <div class="title">门卫留存单</div>
            <p style="text-indent: 0">{$reserve.building}门卫：</p>
            <p>现有{$reserve.schoolname}需借用本楼教室{$reserve.roomname}({$reserve.roomno})，</p>
            <p>使用时间是：星期{$reserve.day},{$reserve.timename}；
            <p>周次：{$reserve.weeks}</p>
            <p>用途：{$reserve.purpose}</p>
            <p>借用设备：___________________________</p>
            <p>联系人及电话：_______________________</p>
            <p>请按多媒体教室有关管理规定给予办理。若有疑问，请拨打教务处电话 88122243 查询。</p>
        </div>
    </div>
    <p style="text-align:right;padding-right:30px">教务处 {$reserve.printdate}</p>
</div>
