<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0&active=1',
            valueField:'school',
            textField:'name'
        });
        //设置默认学院，非管理部门为本学院
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');
        $('#dg').datagrid({
            title:'',idField:'classno', striped:'true',pagination:'true',rownumbers:true,pageSize:20,
            url:'{$ROOT}/base/classes/classlist',singleSelect:true,
            queryParams: {classno:''},
            toolbar:'#toolbar',pageList:[20,50,100,200],
            columns:[[
                {field:'checkbox',title:'选中',checkbox:true},
                {field:'classno',title:'班号*',width:70,align:'center',editor:{type:'validatebox',options:{validType:'minmaxLength[6,7]',required:true}}},
                {field:'classname',title:'班级名称*',width:110,align:'center',editor:{type:'validatebox',options:{validType:'maxLength[15]',required:true}}},
                {field:'school',title:'学院*',width:100,align:'center', editor:{type:'combobox', options:{url:'{$ROOT}/all/option/school',valueField:'school',textField:'name',panelWidth:'120',required:true,
                    onSelect:function(rec) {
                        var tt=$('#dg');
                        tt.datagrid('getSelected').schoolname=rec.name;
                    }}},
                    formatter:function(val,rec){
                        return rec.schoolname;
                    }},
                {field:'students',title:'预计人数*',width:60,align:'center',editor:{type:'numberbox',options:{required:true,min:0, precision: 0}}},
                {field:'amount',title:'实际人数',width:60,align:'center'},
                {field:'year',title:'入校时间*',width:100,align:'center',editor:{type:'datebox',options:{required:true}}},
                {field:'major',title:'专业*',width:150,align:'center', editor:{type:'combobox', options:{url:'{$ROOT}/all/option/major',valueField:'major',textField:'name',
                    onSelect:function(rec) {
                        var tt=$('#dg');
                        tt.datagrid('getSelected').majorname=rec.name;
                    }}},
                    formatter:function(val,rec){
                        return rec.majorname;
                    }},
                {field:'direction',title:'专业方向*',width:250,align:'center', editor:{type:'combobox', options:{valueField:'direction',textField:'name',panelHeight:'auto',
                    loader:function(param,success,error){
                        var tt=$('#dg');
                        var major=tt.datagrid('getSelected').major;
                        $.post('{$ROOT}/all/option/majordirection',{major:major},function(result){
                            success(result);
                        },'json');
                    },
                    onSelect:function(rec) {
                        var tt=$('#dg');
                        tt.datagrid('getSelected').directionname=rec.name;
                    }}},
                    formatter:function(val,rec){
                        return rec.directionname;
                    }}
            ]],
            //标题行右键菜单
            onHeaderContextMenu: function(e, field){
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu',cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            },
            //点击单元格时候的事件
            onClickCell:function(index, field){
                var tt=$('#dg');
                tt.datagrid('startEditing',{field:field,index:index});
                current_datagrid=tt;
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                classno: $('#classno').val(),
                classname: $('#classname').val(),
                school:$('#school').combobox('getValue')
            });
        });
        function checkClassSchool(rows){
            var count=rows.length;
            for(var i=0;i<count;i++){ //教师所在学院不是本学院的，且登录账户不在职能部门不允许修改。
                if(rows[i].school!='{$USERINFO.school}'&&'{$USERINFO.manage}'!='1'){
                    $.messager.alert('错误','你无法修改其他学院的班级信息（'+rows[i].name+'）！','error');
                    $("#cancel").click();
                    return false;
                }
            }
            return true;
        }
        // 绑定新建按钮事件
        $("#insert,#menu_insert").click(function(){
            var tt=$('#dg');
            tt.datagrid('endEditing');
            if(tt.datagrid('editIndex')!=undefined) return;
            tt.datagrid('insertRow',{
                index: 0,
                row: {

                }
            });
            tt.datagrid('startEditing',{field:'classno',index:0});
            current_datagrid=tt;
        });
        //取消更改
        $("#cancel,#menu_cancel").click(function(){
            var tt= $('#dg');
            tt.datagrid('rejectChanges');
            current_datagrid=null;
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
        });
        //绑定点击保存按钮事件
        $("#save,#menu_save").click(function(){
            var tt=$('#dg');
            tt.datagrid('endEditing');
            if(tt.datagrid('editIndex')!=undefined) return;
            //获取更改的数据行内容
            var rows=tt.datagrid('getRows');
            rows=tt.datagrid('getChanges','updated');
            if(!checkClassSchool(rows)) return;
            var count=0;
            var effectRow ={};
            if(rows.length>0){
                count+=rows.length;
                effectRow["updated"]=$.toJSON(rows);
            }
            //获取删除的行
            rows=tt.datagrid('getChanges','deleted');
            if(!checkClassSchool(rows)) return;
            if(rows.length>0){
                count+=rows.length;
                effectRow["deleted"]=$.toJSON(rows);
            }
            //获取添加的行
            rows=tt.datagrid('getChanges','inserted');
            if(!checkClassSchool(rows)) return;
            if(rows.length>0){
                count+=rows.length;
                effectRow["inserted"]=$.toJSON(rows);
            }
            if(count<=0){ //如果没有任何更新，就退出
                $.messager.alert('提示','没有数据需要保存！','info');
                return;
            }
            $.post('{$ROOT}/base/classes/classupdate',effectRow,function(result){
                if (result.status==1){
                    tt.datagrid('acceptChanges');
                    tt.datagrid('reload');
                    $.messager.show({	// show error message
                        title: '成功',
                        msg: result.info
                    });
                } else {
                    $.messager.alert('错误',result.info,'error');
                }
            },'json');
        });
        //右键菜单删除按钮
        $("#menu_delete,#delete").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            if (row) {
                tt.datagrid('endEditing');
                var rowIndex = tt.datagrid('getRowIndex', row);
                tt.datagrid('deleteRow', rowIndex);

            }
            else{
                $.messager.alert('提示','请先选中一条记录','info')
            }
        });
        //编辑
        $("#edit,#menu_edit").click(function(){
            var tt=$('#dg');
            var index=tt.datagrid('getRowIndex',tt.datagrid('getSelected'));
            tt.datagrid('startEditing',{field:'classname',index:index});
            current_datagrid=tt;
        });
        /**
         * 导出所有班级学生名单
         */
        $('#menu_exportall,#exportall').click(function(){
            var classno=$('#classno').val();
            var classname=$('#classname').val();
            var school=$('#school').combobox('getValue');

            if(classno=='%'&&classname=='%'&&school==''){
                $.messager.alert('错误', '请设置班号、班名、学院！', 'error');
                return;
            }
            $.messager.confirm('确认', '本操作将导出检索结果中所有学生数大于零的班级学生名单（最多20个班），班级数较多时请耐性等待。是否继续？', function(r){
                if (r){
                    classno=encodeURI(classno);
                    classname=encodeURI(classname);
                    school=encodeURI(school);
                    $.fileDownload("{$ROOT}/base/classes/export?classno="+classno+"&classname="+classname+"&school="+school, {
                        preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                        dialogOptions: {modal: true, title: '提示'},
                        failCallback: function (html, url) {
                            $.messager.alert('错误',html,'error');
                        }
                    });
                }
            });
        });

        $('#menu_export,#export').click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            var classno=row.classno;
            if (row) {
                $.fileDownload("{$ROOT}/base/classes/export?classno="+classno, {
                    preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                    dialogOptions: {modal: true, title: '提示'},
                    failCallback: function (html, url) {
                        $.messager.alert('错误',html,'error');
                    }
                });
            }
            else
            {
                $.messager.alert('提示','请先选中一条记录','info');
            }
        });
        $("#student,#menu_student").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            if (row) {
                parent.menuTabs.addTab("学生名单","{$ROOT}/base/index/classstudent?classno="+row.classno,"icon icon-class");
            }
            else{
                $.messager.alert('错误','请先选中一条记录','error')
            }
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_add' data-options="iconCls:'icon icon-add'">添加</div>
        <div id='menu_edit' data-options="iconCls:'icon-edit'">编辑</div>
        <div id='menu_delete' data-options="iconCls:'icon icon-remove'">删除</div>
        <div id='menu_cancel' data-options="iconCls:'icon icon-cancel'">取消</div>
        <div class="menu-sep"></div>
        <div id='menu_student' data-options="iconCls:'icon icon-class'">学生名单</div>
        <div data-options="iconCls:'icon icon-excel'" id="menu_export" >导出班级学生名单</div>
        <div data-options="iconCls:'icon icon-excel'" id="menu_exportall" >导出班级学生名单</div>
    </div>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-add',plain:'true'" id="insert">新增</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:'true'" id="edit">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-remove',plain:'true'" id="delete">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-save',plain:'true'" id="save">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-cancel',plain:'true'" id="cancel">取消</a>
        <label for="classno">班号：</label><input id="classno" size="6" value="%"/>
        <label for="classname">班名：</label><input id="classname"  size="9" value="%"/>
        <label for="school">学院：</label>
        <input id="school" size="15">
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-class',plain:'true'" id="student">学生名单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-excel',plain:'true'" id="export">导出班级学生名单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-excel',plain:'true'" id="exportall">导出所有班级学生名单</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>班号设置后无法更改！</li>
        </ol>
    </div>
</div>