<layout name="layout" />
<script type="text/javascript">
    var programcheck=true;
    var coursecheck=true;
    var eqcoursecheck=true;
    $(function(){
        //数据预处理
        {
            var programno = $('#programno');
            programno.validatebox({required: true, validType: 'equalLength[7]'});

            var courseno = $('#courseno');
            courseno.validatebox({required: true, validType: 'equalLength[7]'});

            var eqcourseno = $('#eqcourseno');
            eqcourseno.validatebox({required: true, validType: 'equalLength[7]'});

        }
        $("#save").click(function() {
            if(courseno.val()==eqcourseno.val()){
                $.messager.alert('错误','等价的课号不能相同！','error');
                return;
            }
            if($("#myForm").form('validate')&&programcheck&&coursecheck&&eqcoursecheck){
                var data={};
                var effectRow ={};
                data['programno']=programno.val();
                data['courseno']=courseno.val();
                data['eqcourseno']=eqcourseno.val();
                effectRow["inserted"]=$.toJSON(data);
                $.post('{$ROOT}/base/course/equalcourseupdate',effectRow,function(result){
                    if (result.status==1){
                        $.messager.alert("成功",result.info,"info");
                    }
                    else {
                        $.messager.alert("错误",result.info,"error");
                    }
                },'json');
            }
            else{
                $.messager.alert('错误','输入数据有误，请检查！','error');
            }
        });
        //当教学计划号填写完成后。
        programno.blur(function(){
            $('#programname').text('');
            if(programno.val()=='')
                return;
            $.post('{$ROOT}/all/info/getprogramname',{programno:programno.val()},function(result){
                if (result.status==1){
                    $('#programname').text(result.info);
                    programcheck=true;
                }
                else {
                    $('#roomname').html("<div class='warn'>" + result.info + "</div>");
                    programcheck = false;
                }
            },'json');
        });

        courseno.blur(function(){
            $('#coursename').text('');
            if(courseno.val()=='')
                return;
            $.post('{$ROOT}/all/info/getcoursename',{courseno:courseno.val()},function(result){
                if (result.status==1){
                    $('#coursename').text(result.info);
                    coursecheck=true;
                }
                else {
                    $('#coursename').html("<div class='warn'>" + result.info + "</div>");
                    coursecheck = false;
                }
            },'json');
        });

        eqcourseno.blur(function(){
            $('#eqcoursename').text('');
            if(eqcourseno.val()=='')
                return;
            $.post('{$ROOT}/all/info/getcoursename',{courseno:eqcourseno.val()},function(result){
                if (result.status==1){
                    $('#eqcoursename').text(result.info);
                    eqcoursecheck=true;
                }
                else {
                    $('#eqcoursename').html("<div class='warn'>" + result.info + "</div>");
                    eqcoursecheck = false;
                }
            },'json');
        });

        $("#myForm").form('validate');

    });
</script>
<style type="text/css">
   #toolbar{height: 50px;line-height: 50px;text-align: center}
</style>
<div class="container">
    <div class="pagetitle">新增等价课程</div>
    <form id="myForm">
    <table class="mytable" align="center" cellspacing="0" cellpadding="0">
        <tr>
            <th><label for="programno">教学计划号</label></th>
            <td><input id="programno"  size="7"/></td>
            <th>教学计划名</th>
            <td><label id="programname"></label></td>
        </tr>
        <tr>
            <th><label for="courseno">课号</label></th>
            <td><input id="courseno" size="7"/></td>
            <th>课名</th>
            <td><label id="coursename"></label></td>
        </tr>
        <tr>
            <th><label for="eqcourseno">等价课号</label></th>
            <td><input id="eqcourseno" size="7"/></td>
            <th>等价课名</th>
            <td><label id="eqcoursename"></label></td>
        </tr>
    </table>
    </form>
    <div id="toolbar">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon icon-save'" id="save">保存等价信息</a>
    </div>
</div>
