<layout name="all@index/layout" />
<script type="text/javascript">

    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0&active=1',
            valueField:'school',
            textField:'name'
        });
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');

        var audit=$('#audit');
        audit.combobox({
            url:'{$ROOT}/all/option/zo?only=0',
            valueField:'zo',
            textField:'name',
            panelHeight:'auto'
        });

        audit.combobox('select','0');
        $('#dg').datagrid({
            title:'',idField:'id', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20,
            url:'{$ROOT}/score/credit/qualityapply',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val(),
                school:school.combobox('getValue'),
                audit:audit.combobox('getValue')
            },
            columns:[[
                {field:'audit',title:'审核*',width:40,editor:{type:'checkbox',options:{on:1,off:0}},align:'center',formatter:function(val,rec){
                    if(val==1)
                        return '√';
                    else
                        return '';
                }},
                {field:'year',title:'学年',width:50,align:'center'},
                {field:'term',title:'学期',width:50,align:'center'},
                {field:'studentno',title:'学号',width:70,align:'center'},
                {field:'studentname',title:'姓名',width:60,align:'center'},
                {field:'classname',title:'班级',width:120,align:'center'},
                {field:'schoolname',title:'学院',width:100,align:'center'},
                {field:'reason',title:'理由*',width:150,align:'center',editor:{type:'validatebox',options:{validType:'maxLength[25]',required:true}}},
                {field:'credit',title:'学分*',width:50,align:'center',editor:{type:'numberbox',options:{required:true,min:0, precision:1}}},
               /* {field:'typename',title:'类型',width:100,align:'center'},*/
                {field:'cerdate',title:'证书时间*',width:120,align:'center',editor:{type:'datebox',options:{required:true}}},
                {field:'applydate',title:'申报时间',width:120,align:'center'},
                {field:'verify',title:'认定',width:40,align:'center',formatter:function(val,rec){
                    if(val==1)
                        return '√';
                    else
                        return '';
                }}
            ]],
            //点击单元格时候的事件
            onClickCell:function(index, field){
                var tt=$('#dg');
                tt.datagrid('startEditing',{field:field,index:index});
                current_datagrid=tt;
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val(),
                reason:$('#reason').val(),
                school:school.combobox('getValue'),
                audit:audit.combobox('getValue')

            });
        });
        //取消更改
        $("#cancel,#menu_cancel").click(function(){
            var tt= $('#dg');
            tt.datagrid('rejectChanges');
            current_datagrid=null;
        });
        function checkSchoolAndVerify(rows){
            var count=rows.length;
            for(var i=0;i<count;i++){ //教师所在学院不是本学院的，且登录账户不在职能部门不允许修改。
                if(rows[i].school!='{$USERINFO.school}'&&'{$USERINFO.manage}'!='1'){
                    $.messager.alert('错误','你无法修改其他学院的项目信息（'+rows[i].reason+'）！','error');
                    return false;
                }
                if(rows[i].verify=='1'){
                    $.messager.alert('错误','你无法修改已经认定的项目（'+rows[i].reason+'）！','error');
                    return false;
                }
            }
            return true;
        }
        //绑定点击保存按钮事件
        function buildDataArray(rows){
            var updateRow=[];
            var length=rows.length;
            for (var i = 0; i < length; i++) {
                var updateObj = {}; //插入的单元格
                updateObj.id=rows[i].id;
                updateObj.audit = rows[i].audit;
                updateObj.credit = rows[i].credit;
                updateObj.cerdate= rows[i].cerdate;
                updateObj.reason = rows[i].reason;
                updateObj.school=rows[i].school;
                updateRow.push(updateObj);
            }
            return updateRow;
        }
        $("#save,#menu_save").click(function(){
            var tt=$('#dg');
            tt.datagrid('endEditing');//结束编辑,如果没有验证通过就退出
            if(tt.datagrid('editIndex')!=undefined) return;
            //获取更改的数据行内容
            var rows=tt.datagrid('getRows');
            rows=tt.datagrid('getChanges','updated');
            var count=0;
            var effectRow = {};
            if(rows.length>0){
                count+=rows.length;
                if(!checkSchoolAndVerify(rows))
                    return;
                effectRow["updated"]=$.toJSON(buildDataArray(rows));
            }
            //获取删除的行
            rows=tt.datagrid('getChanges','deleted');
            if(rows.length>0){
                count+=rows.length;
                if(!checkSchoolAndVerify(rows))
                    return;
                effectRow["deleted"]=$.toJSON(buildDataArray(rows));
            }
            if(count<=0) //如果没有任何更新，就退出
                return;

            $.post('{$ROOT}/score/credit/qualityaudit',effectRow,function(result){
                if (result.status==1){
                    tt.datagrid('acceptChanges');
                    tt.datagrid('reload');
                    $.messager.show({	// show error message
                        title: '成功',
                        msg: result.info
                    });
                } else {
                    $.messager.alert('错误',result.info,'error');
                }
            },'json');
        });
        //右键菜单删除按钮
        $("#menu_remove,#remove").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            if (row) {
                tt.datagrid('endEditing');
                var rowIndex = tt.datagrid('getRowIndex', row);
                tt.datagrid('deleteRow', rowIndex);
            }
            else{
                $.messager.alert('错误','请先选中一条记录','error')
            }
        });
        $("#menu_parse,#parse").click(function(){
            var tt=$('#dg');
            var row = tt.datagrid('getSelected');
            if (row) {
                if(row.audit=='1'||row.verify=='1') {
                    $.messager.alert('错误', "已经通过审核或认定，无法改变类型", 'error');
                    return;
                }
                $.post('{$ROOT}/score/credit/parsecreative',{id:row.id},function(result){
                    if (result.status==1){
                        tt.datagrid('acceptChanges');
                        tt.datagrid('reload');
                        $.messager.show({	// show error message
                            title: '成功',
                            msg: result.info
                        });
                    } else {
                        $.messager.alert('错误',result.info,'error');
                    }
                },'json');
            }
            else{
                $.messager.alert('错误','请先选中一条记录','error')
            }
        });
        $('#export,#menu_export').click(function(){
            var year=encodeURI($('#year').val());
            var term=encodeURI($('#term').val());
            var school=encodeURI($('#school').combobox('getValue'));
            var reason=encodeURI($('#reason').val());
            var studentno=encodeURI($('#studentno').val());
            var audit=encodeURI($('#audit').combobox('getValue'));
            $.fileDownload("{$ROOT}/score/credit/auditexportquality?year=" +year+"&term="+term+'&school='+school+'&reason='+reason+'&studentno='+studentno+'&audit='+audit, {
                preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                dialogOptions: {modal: true, title: '提示'},
                failCallback: function (html, url) {
                    $.messager.alert('错误',html,'error');
                }
            });
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_save' data-options="iconCls:'icon icon-save'">保存</div>
        <div id='menu_parse' data-options="iconCls:'icon icon-reload'">转为素质学分</div>
        <div id='menu_export' data-options="iconCls:'icon icon-excel'">导出</div>
        <div class="menu-sep"></div>
        <div id='menu_remove' data-options="iconCls:'icon icon-remove'">删除</div>
        <div id='menu_cancel' data-options="iconCls:'icon icon-cancel'">取消</div>
    </div>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-remove',plain:'true'" id="remove">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-save',plain:'true'" id="save">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-cancel',plain:'true'" id="cancel">取消</a> |
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="1" value="{$YEARTERM.term}"/>
        <label for="studentno">学号：</label><input id="studentno" class="easyui-validatebox" size="7" value="%"/>
        <label for="reason">理由：</label><input id="reason" class="easyui-validatebox" size="6" value="%"/>
        <label for="school">学院：</label><input id="school" size="15"/>
        <label for="audit">已审核：</label><input id="audit" size="7"/>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-reload',plain:'true'" id="parse">转为创新技能</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-excel',plain:'true'" id="export">导出</a>

    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>有*标注的为可编辑单元，点击后可以修改内容。</li>
        </ol>
    </div>
</div>