<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0',
            valueField:'school',
            textField:'name'
        });
        //设置默认学院，非管理部门为本学院
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');
        $('#dg').datagrid({
            title:'',idField:'courseno', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20, url:'{$ROOT}/score/printer/finalcourselist',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val(),
                school:school.combobox('getValue')
            },
            columns:[[
              /*  {field:'year',title:'学年',width:80,align:'center'},
                {field:'term',title:'学期',width:80,align:'center'},*/
                {field:'courseno',title:'课号',width:80,align:'center'},
                {field:'coursename',title:'课名',width:280,align:'center'},
                {field:'schoolname',title:'开课学院',width:200,align:'center'},
                {field:'total',title:'选课人数',width:100,align:'center'},
                {field:'uninput',title:'未输入数',width:100,align:'center'},
                {field:'lock',title:'锁定',width:100,align:'center',formatter:function(val,rec){
            if(val>0)
                return '锁定';
            else
                return '';
        }}
            ]],
            rowStyler: function(index,row){
                if (row.uninput!=0){
                    return 'color:red;';
                }},
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                var tt=$('#dg');
                tt.datagrid('endEditing');
                if(tt.datagrid('editIndex')!=undefined) return;
                e.preventDefault();  //该方法将通知 Web 浏览器不要执行与事件关联的默认动作（如果存在这样的动作）
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#menu_print,#print").click(function(){
            var year=$('#year').val();
            var term=$('#term').val();
            var row=$('#dg').datagrid('getSelected');
            if(!row){
                $.messager.alert('错误','请选择一条课程记录', 'info');
                return false;
            }
            if(row.uninput!=0){
                $.messager.alert('错误','成绩未输入完毕，无法打印', 'error');
                return false;
            }
            var courseno=row.courseno;
            var url='/score/index/printfinalview?';
            window.open('{$ROOT}'+url+'year='+year+"&term="+term+"&courseno="+courseno);
        });

        $("#menu_printblank,#printblank").click(function(){
            var year=$('#year').val();
            var term=$('#term').val();
            var row=$('#dg').datagrid('getSelected');
            if(!row){
                $.messager.alert('错误','请选择一条课程记录', 'info');
                return false;
            }
            var courseno=row.courseno;
            var url='/score/index/printfinalviewblank?';
            window.open('{$ROOT}'+url+'year='+year+"&term="+term+"&courseno="+courseno);
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val(),
                courseno:$('#courseno').val(),
                coursename:$('#coursename').val(),
                school:school.combobox('getValue'),
                type:$('#type').combobox('getValue')
            });
         });

        $('#menu_unlock,#unlock').click(function(){
            var year=$('#year').val();
            var term=$('#term').val();
            var row=$('#dg').datagrid('getSelected');
            if(!row){
                $.messager.alert('错误','请选择一条课程记录', 'info');
                return false;
            }
            var courseno=row.courseno;
            $.post('{$ROOT}/score/printer/finalunlock',{year:year,term:term,courseno:courseno},function(result){
                $('#dg').datagrid('reload');
                if (result.status==1){
                    $.messager.alert('成功',result.info,'info');
                } else {
                    $.messager.alert('错误',result.info,'error');
                }
            },'json');
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:100px;">
        <div id='menu_unlock' data-options="iconCls:'icon icon-lock'">解锁课程</div>
        <div id='menu_print' data-options="iconCls:'icon icon-print'">打印成绩单</div>
        <div id='menu_printblank' data-options="iconCls:'icon icon-print'">打印空白成绩单</div>
    </div>
    <div id="toolbar">
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="5" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="2" value="{$YEARTERM.term}"/>
        <label for="courseno">课号：</label><input id="courseno" class="easyui-validatebox" size="10" value="%"/>
        <label for="coursename">课名：</label><input id="coursename" class="easyui-validatebox" size="15" value="%"/>
        <label for="school">学院：</label><input id="school" size="18"/>
        <label for="type">输入情况：</label>
        <select class="easyui-combobox" id="type" data-options="panelHeight:'auto'" >
            <option selected="selected" value="">全部</option>
            <option value="1">未完成</option>
        </select>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索课程</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-lock',plain:'true'" id="unlock">解锁课程</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-print',plain:'true'" id="print">打印成绩单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-print',plain:'true'" id="printblank">打印空白成绩单</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>如果课程未输入完成，会显示红色！</li>
        </ol>
    </div>
</div>