<layout name="all@index/layout" />
<script type="text/javascript">

    $(function(){
        var school=$('#school');
        school.combobox({
            url:'{$ROOT}/all/option/school?only=0&active=1',
            valueField:'school',
            textField:'name'
        });
        if('{$USERINFO.manage}'!='1')
            school.combobox('select','{$USERINFO.school}');
        var type=$('#type');
        type.combobox({
            url:'{$ROOT}/all/option/credittype?only=0',
            valueField:'type',
            textField:'name',
            panelHeight:'auto'
        });
        var audit=$('#audit');
        audit.combobox({
            url:'{$ROOT}/all/option/zo?only=0',
            valueField:'zo',
            textField:'name',
            panelHeight:'auto'
        });
        var verify=$('#verify');
        verify.combobox({
            url:'{$ROOT}/all/option/zo?only=0',
            valueField:'zo',
            textField:'name',
            panelHeight:'auto'
        });
        var batch=0 ;//是否批量申请
        $('#dg').datagrid({
            title:'',idField:'id', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20,
            url:'{$ROOT}/score/credit/query',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val(),
                school:school.combobox('getValue'),
                audit:audit.combobox('getValue'),
                verify:verify.combobox('getValue'),
                type:type.combobox('getValue'),
                batch:0
            },
            columns:[[
                {field:'verify',title:'认定',width:40,align:'center',formatter:function(val,rec){
                    if(val==1)
                        return '√';
                    else
                        return '';
                }},
                {field:'audit',title:'审核',width:40,align:'center',formatter:function(val,rec){
                    if(val==1)
                        return '√';
                    else
                        return '';
                }},
                {field:'year',title:'学年',width:50,align:'center'},
                {field:'term',title:'学期',width:50,align:'center'},
                {field:'studentno',title:'学号',width:70,align:'center'},
                {field:'studentname',title:'姓名',width:60,align:'center'},
                {field:'classname',title:'班级',width:120,align:'center'},
                {field:'schoolname',title:'学院',width:100,align:'center'},
                {field:'reason',title:'理由',width:150,align:'center'},
                {field:'credit',title:'学分',width:50,align:'center'},
                {field:'typename',title:'类型',width:100,align:'center'},
                {field:'cerdate',title:'证书时间',width:120,align:'center'},
                {field:'applydate',title:'申报时间',width:120,align:'center'}

            ]],
            //点击单元格时候的事件
            onClickCell:function(index, field){
                var tt=$('#dg');
                tt.datagrid('startEditing',{field:field,index:index});
                current_datagrid=tt;
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        function search(){
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val(),
                reason:$('#reason').val(),
                school:school.combobox('getValue'),
                audit:audit.combobox('getValue'),
                verify:verify.combobox('getValue'),
                type:type.combobox('getValue'),
                batch:batch
            });
        }
        $("#searchsingle").click(function() {
            batch=0;
            search();
        });
        $("#searchbatch").click(function() {
            batch=1;
            search();
        });
        $('#export,#menu_export').click(function(){
            var year=encodeURI($('#year').val());
            var term=encodeURI($('#term').val());
            var school=encodeURI($('#school').combobox('getValue'));
            var reason=encodeURI($('#reason').val());
            var studentno=encodeURI($('#studentno').val());
            var audit=encodeURI($('#audit').combobox('getValue'));
            var verify=encodeURI($('#verify').combobox('getValue'));
            var type=encodeURI($('#type').combobox('getValue'));
            $.fileDownload("{$ROOT}/score/credit/export?year=" +year+"&term="+term+'&school='+school
                +'&reason='+reason+'&studentno='+studentno+'&audit='+audit+'&verify='+verify+'&batch='+batch+'&type='+type, {
                preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                dialogOptions: {modal: true, title: '提示'},
                failCallback: function (html, url) {
                    $.messager.alert('错误',html,'error');
                }
            });
        });
    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_export' data-options="iconCls:'icon icon-excel'">导出</div>
    </div>
    <div id="toolbar">
        <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="1" value="{$YEARTERM.term}"/>
        <label for="studentno">学号：</label><input id="studentno" class="easyui-validatebox" size="7" value="%"/>
        <label for="reason">理由：</label><input id="reason" class="easyui-validatebox" size="6" value="%"/>
        <label for="school">学院：</label><input id="school" size="15"/>
        <label for="type">已认定：</label><input id="type" size="7"/>
        <label for="audit">已审核：</label><input id="audit" size="7"/>
        <label for="verify">已认定：</label><input id="verify" size="7"/>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="searchsingle">检索单个</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="searchbatch">检索统报</a>|
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-excel',plain:'true'" id="export">导出</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>有*标注的为可编辑单元，点击后可以修改内容。</li>
            <li class="warn">统一申报的学院无需审核，认定理由不允许修改。</li>
        </ol>
    </div>
</div>