<layout name="all@index/layout" />
<script type="text/javascript">

    $(function(){
        $('#dg').datagrid({
            title:'',idField:'id', striped:'true',pagination:'true',rownumbers:true,singleSelect:true,pageSize:20,
            url:'{$ROOT}/plan/schedule/conflictquery',toolbar:'#toolbar',
            queryParams: {
                year: $('#year').val(),
                term: $('#term').val()
            },
            columns:[[
                {field:'year',title:'学年',width:50,align:'center'},
                {field:'term',title:'学期',width:50,align:'center'},
                {field:'who',title:'班号/教室号/教师号',width:120,align:'center',formatter:function(val,rec){
                    return "<a class='blue_link'href='javascript:timetable(\""+rec.type+"\",\""+rec.who+"\")' >"+rec.who+"</a>" ;
                }},
                {field:'typename',title:'类型',width:50,align:'center'},
                {field:'day',title:'星期',width:70,align:'center'},
                {field:'week',title:'周次',width:180,align:'center', formatter:function(value,rec){
                    var string=parseInt(value).toString(2);
                    string=string_reserve(str_pad(string,20,'0',1));
                    return  str_split(string,' ',5);
                }},
                {field:'timename',title:'节次',width:150,align:'center'}
            ]]
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('load', {
                year: $('#year').val(),
                term: $('#term').val()
            });
        });
        //绑定点击保存按钮事件
        $("#conflict").click(function(){
            $.post('{$ROOT}/plan/schedule/conflictinit',{ year: $('#year').val(),term: $('#term').val()},function(result){
                if (result.status==1){
                    var tt=$('#dg');
                    tt.datagrid('reload');
                    $.messager.alert('成功！',result.info,'info');
                } else {
                    $.messager.alert('错误',result.info,'error');
                }
            },'json');
        });
    });
    function timetable(type,who){
        var url='/plan/index/timetable?year='+$('#year').val()+'&term='+$('#term').val()+'&who='+who+'&type='+type;
        window.open('{$ROOT}'+url);
    }
</script>
<div class="container">
    <div id="toolbar">
        <div>
            <label for="year">学年：</label><input id="year" class="easyui-validatebox" size="4" value="{$YEARTERM.year}"/>
            <label for="term">学期：</label><input id="term" class="easyui-validatebox" size="1" value="{$YEARTERM.term}"/>
            <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-clear',plain:'true'" id="conflict">开始检测</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索结果</a>
        </div>
    </div>
    <table id="dg"></table>
</div>