<layout name="all@index/layout" />
<script type="text/javascript">
    $(function(){
        var courseschool = $('#courseschool');
        courseschool.combobox({
            url: '{$ROOT}/all/option/school?only=0&active=1',
            valueField: 'school',
            textField: 'name'
        });
        var studentschool = $('#studentschool');
        studentschool.combobox({
            url: '{$ROOT}/all/option/school?only=0&active=1',
            valueField: 'school',
            textField: 'name'
        });
        var examrem = $('#examrem');
        examrem.combobox({
            url: '{$ROOT}/all/option/examrem?only=0',
            valueField: 'examrem',
            textField: 'name',
            panelHeight:'auto'
        });
        var delay = $('#delay');
        delay.combobox({
            url: '{$ROOT}/all/option/delay?only=0',
            valueField: 'delay',
            textField: 'name',
            panelHeight:'auto'
        });
        $('#dg').datagrid({
            title:'',idField:'id', striped:'true',pagination:'true',rownumbers:true,pageSize:20,
            url:'{$ROOT}/exam/start/query',
            queryParams: {
                year:$('#year').val(),
                term:$('#term').val(),
                studentno:''
            },
            toolbar:'#toolbar',pageList:[20,50,100,200],
            columns:[[
                {field:'checkbox',title:'选中',checkbox:true},
                {field:'courseno',title:'课号',width:70,align:'center'},
                {field:'coursename',title:'课名',width:140,align:'center'},
                {field:'courseschoolname',title:'开课学院',width:140,align:'center'},
                {field:'studentno',title:'学号',width:65,align:'center'},
                {field:'studentname',title:'姓名',width:60,align:'center'},
                {field:'plantypename',title:'修课',width:60,align:'center'},
                {field:'classname',title:'班级',width:160,align:'center'},
                {field:'studentschoolname',title:'所在学院',width:140,align:'center'},
                {field:'qm',title:'期末',width:50,align:'center'},
                {field:'score',title:'总评',width:50,align:'center'},
                {field:'examremname',title:'考试备注',width:80,align:'center'},
                {field:'delayname',title:'缓考原因',width:80,align:'center'},
                {field:'lock',title:'锁定',width:50,align:'center',formatter:function(val,rec){if(val==1)return '√';}}

            ]],
            //标题行右键菜单
            onHeaderContextMenu: function(e, field){
                e.preventDefault();
                if (!cmenu_obj.cmenu)//没有的话创建一个
                    $('#dg').datagrid('createColumnMenu',cmenu_obj);
                cmenu_obj.cmenu.menu('show', {
                    left:e.pageX,
                    top:e.pageY
                });
            },
            //数据行上右键菜单
            onRowContextMenu:function(e,rowindex,row){
                e.preventDefault();
                var tt=$('#dg');
                tt.datagrid('selectRow',rowindex);
                $('#menu').menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        });
        $("#search").click(function() {
            var tt=$('#dg');
            tt.datagrid('loadData',{total:0,rows:[]});
            tt.datagrid('clearSelections');
            tt.datagrid('clearChecked');
            tt.datagrid('load', {
                year:$('#year').val(),
                term:$('#term').val(),
                studentno: $('#studentno').val(),
                courseno: $('#courseno').val(),
                courseschool: $('#courseschool').combobox('getValue'),
                studentschool: $('#studentschool').combobox('getValue'),
                examrem: $('#examrem').combobox('getValue'),
                delay:$('#delay').combobox('getValue')
            });
        });
        function buildDataArray(rows){
            var updateRow=[];
            var length=rows.length;
            for (var i = 0; i < length; i++) {
                var updateObj = {}; //插入的单元格
                updateObj.id = rows[i].id;
                updateRow.push(updateObj);
            }
            return updateRow;
        }
        function checkLock(rows){
            var length=rows.length;
            for (var i = 0; i < length; i++) {
                if(rows[i].lock==1){
                    $.messager.alert('错误', '课号：'+rows[i].courseno+'学号：'+rows[i].studentno+'已锁定，无法删除！', 'error');
                    return false;
                }
            }
            return true;
        }
        $("#save,#menu_save").click(function () {
            var tt = $('#dg');
            var rows = tt.datagrid('getChanges', 'deleted');
            var length=rows.length;
            if (length<= 0) { //如果没有任何更新，就退出
                $.messager.alert('提示', '没有数据需要保存！', 'info');
                return;
            }
            if(!checkLock(rows))
                return;
            var effectRow = {};
            effectRow["deleted"] = $.toJSON(buildDataArray(rows));
            $.post('{$ROOT}/exam/start/update', effectRow, function (result) {
                if (result.status == 1) {
                    tt.datagrid('acceptChanges');
                    tt.datagrid('reload');
                    $.messager.show({	// show error message
                        title: '成功',
                        msg: result.info
                    });
                } else {
                    $.messager.alert('错误', result.info, 'error');
                }
            }, 'json');
        });

        //初始化
        $("#init").click(function() {
                $.post('{$ROOT}/exam/start/init',{year:$("#year").val(),term:$("#term").val()}, function (result) {
                    if (result.status == 1) {
                        $.messager.alert('提示', result.info, 'info');
                    } else {
                        $.messager.alert('错误', result.info, 'error');
                    }
                }, 'json');
        });
        //导出
        $('#menu_export,#export').click(function(){
            var year=$('#year').val();
            var term=$('#term').val();
            var studentno=encodeURI($('#studentno').val());
            var courseno=encodeURI($('#courseno').val());
            var courseschool=encodeURI($('#courseschool').combobox('getValue'));
            var studentschool=encodeURI($('#studentschool').combobox('getValue'));
            var examrem=encodeURI($('#examrem').combobox('getValue'));
            var delay=encodeURI($('#delay').combobox('getValue'));
            $.fileDownload("{$ROOT}/exam/start/export?year=" +year+"&term="+term+'&courseno='+courseno+'&studentno='+studentno+'&courseschool='+courseschool
            +'&studentschool='+studentschool+'&examrem='+examrem+'&delay='+delay, {
                preparingMessageHtml: "正在导出数据，请稍候...<br/>请勿做其它操作！.",
                dialogOptions: {modal: true, title: '提示'},
                failCallback: function (html, url) {
                    $.messager.alert('错误',html,'error');
                }
            });
            return false;
        });

        $("#menu_delete,#delete").click(function(){
            var tt = $('#dg');
            var rows=tt.datagrid('getSelections');
            if(!checkLock(rows))
                return;
            var length=rows.length;
            for(var i=length-1;i>=0;i--){
                var index=tt.datagrid('getRowIndex',rows[i].id);
                tt.datagrid('deleteRow',index);
            }
        });

        //取消更改
        $("#cancel,#menu_cancel").click(function(){
            var tt= $('#dg');
            tt.datagrid('rejectChanges');
            current_datagrid=null;
        });

    });
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:150px;">
        <div id='menu_delete' data-options="iconCls:'icon icon-remove'">删除</div>
        <div id='menu_cancel' data-options="iconCls:'icon icon-cancel'">取消</div>
        <div class="menu-sep"></div>
        <div id='menu_export' data-options="iconCls:'icon icon-print'">导出</div>
        <div id='menu_save' data-options="iconCls:'icon icon-save'">保存</div>
    </div>
    <div id="toolbar">
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-tool',plain:'true'" id="init">生成名单</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-remove',plain:'true'" id="delete">删除</a>
        <a href="javascript:void(0)" class="easyui-linkbutton"  data-options="iconCls:'icon icon-save',plain:'true'" id="save">保存</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon icon-cancel',plain:'true'" id="cancel">取消</a> |
        <label for="year">学年：</label><input id="year" size="4" value="{$YEARTERM.year}"/>
        <label for="term">学期：</label><input id="term" size="1" value="{$YEARTERM.term}"/>
        <label for="studentno">学号：</label><input id="studentno" class="easyui-validatebox" size="7" value="%"/>
        <label for="courseno">课号：</label><input id="courseno" class="easyui-validatebox" size="7" value="%"/>
        <label for="courseschool">开课学院：</label><input id="courseschool" size="16" />
        <label for="studentschool">学生学院：</label><input id="studentschool" size="16" />
        <label for="examrem">考试备注：</label><input id="examrem" size="8" />
        <label for="delay">缓考原因：</label><input id="delay" size="16" />
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a>
        <a href="#" class="easyui-linkbutton"  data-options="iconCls:'icon icon-excel',plain:'true'" id="export">导出</a>
    </div>
    <table id="dg"></table>
    <div class="space"></div>
    <div class="information">
        <ol>说明：
            <li>生成补考名单时会添加已报名缓考的学生。</li>
            <li>考试备注为任课教师输入的内容。</li>
        </ol>
    </div>
</div>