<layout name="all@index/layout" />
<script type="text/javascript">
$(function () {
    var school = $('#school');
    school.combobox({
        url: '{$ROOT}/all/option/school?only=0',
        valueField: 'school',
        textField: 'name'
    });
    $('#dg').datagrid({
        title: '',
        idField: 'teacherno',
        striped: 'true',
        pagination: 'true',
        rownumbers: true,
        singleSelect: true,
        pageSize: 20,
        url: '{$ROOT}/quality/expert/expertlist',
        toolbar: '#toolbar',
        queryParams: {school: school.combobox('getValue')},
        pageList: [20, 50, 100, 200],
        columns: [[
            {field: 'teacherno', title: '教师号', width: 80, align: 'center'},
            {field: 'name', title: '姓名*', width: 80, align: 'center'},
            {field: 'sexname', title: '性别', width: 80, align: 'center'},
            {field: 'positionname', title: '职称', width: 80, align: 'center'},
            {field: 'typename', title: '类型', width: 80, align: 'center'},
            {field: 'schoolname', title: '学院', width: 120, align: 'center'}
        ]],
        //标题行右键菜单
        onHeaderContextMenu: function (e, field) {
            e.preventDefault();
            if (!cmenu_obj.cmenu)//没有的话创建一个
                $('#dg').datagrid('createColumnMenu', cmenu_obj);
            cmenu_obj.cmenu.menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        },
        //数据行上右键菜单
        onRowContextMenu: function (e, rowindex, row) {
            var tt = $('#dg');
            tt.datagrid('endEditing');
            if (tt.datagrid('editIndex') != undefined) return;
            e.preventDefault();  //该方法将通知 Web 浏览器不要执行与事件关联的默认动作（如果存在这样的动作）
            tt.datagrid('selectRow', rowindex);
            $('#menu').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    });

    //检索
    $("#search").click(function () {
        var tt = $('#dg');
        tt.datagrid('loadData', {total: 0, rows: []});
        tt.datagrid('load', {
            name: $('#name').val(),
            teacherno: $('#teacherno').val(),
            school: $('#school').combobox('getValue')
        });
    });
    $("#expert,#menu_expert").click(function () {
        var row= $('#dg').datagrid('getSelected');
        if(!row){
            $.messager.alert('错误','请先选择一个教师！','error');
            return;
        }
        parent.menuTabs.addTab("新增专家打分-"+row.name,"{$ROOT}/quality/index/expertaddscore?teacherno="+row.teacherno,"icon icon-degree");
    });
});
</script>
<div class="container">
    <div id="menu" class="easyui-menu" style="width:100px;">
        <div id='menu_expert' data-options="iconCls:'icon icon-degree'">专家新增打分</div>
    </div>
    <div id="toolbar">
        <div>
            <label for="teacherno">教师号：</label><input id="teacherno" class="easyui-validatebox" size="10" value="%"/>
            <label for="name">姓名：</label><input id="name" class="easyui-validatebox" size="10" value="%"/>
            <label for="school">学院：</label>
            <input id="school">
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon icon-search',plain:'true'" id="search">检索</a> |
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon icon-degree',plain:'true'" id="expert">选中专家新增打分</a>
        </div>
    </div>
    <table id="dg">
    </table>
    <div class="information" style="clear:both">
        <ol>说明：
            <li>选择一为教师为督导，进入增加评分环节。</li>
        </ol>
    </div>
</div>